body {
    height: 1500px;
}

#money .ebitle {
    margin-top: 30px;
    border-bottom: 6px solid #f60;
    line-height: 38px;
    color: #666666;
}

#money .ebitle h2 {
    font-size: 24px;
    font-weight: 600;
}

#money .ebitle ul li {
    float: left;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.active {
    background: #f60 !important;
    color: #fff;
}

#money .fl.active {
    text-align: center;
    width: 40px;
}

#money .moneybook {
    box-sizing: border-box;
}

#money .moneybook li {
    width: 1200px;
    height: 530px;
}

#money .moneybook li>div {
    padding: 0 40px;
}

#money .bookimg {
    width: 186px;
    height: 150px;
    text-align: center;
}

#money .book {
    float: left;
    margin-top: 20px;
    line-height: 30px;
    height: 240px;
}

#money .book h3,
#money .book p {
    text-indent: 10px;
    color: #666666;
    font-size: 14px;
}

#money .book h3 {
    font-weight: 600;
}

span.through {
    color: #cccccc;
    text-decoration: line-through;
}

#money p.red {
    color: red;
}